.list-group-item {
    cursor: pointer;
}

// .flex-container {
//     display: flex;
//     margin-top: 1%;
//     flex-direction: row;
// }
.flex-container {
    display: flex;
    flex-direction: row;
    // padding: 1%;
    width: 55vw;
}

.img-container {
    flex: 1 0 10em;
}

.flex-col {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}

.filter_options {
    z-index: 1000;
    position: sticky;
    top: 12%;
    margin-right: 5%;
}

.movie-select {
    float: right;
}

// @media(min-width:1321px) {
//     .filter-opt-md {
//         margin-right: 5%;
//     }
// }
@media (max-width:910px) {
    .flex-cont-md {
        width: 100vw;
    }
}

@media (min-width:769px) and (max-width:1320px) {
    .filter-opt-md {
        top: 35%;
        // margin-right: 2%;
    }
}

@media (max-width:767px) {
    .filter-opt-md {
        top: 35%;
        margin-right: 2%;
    }
}

// @media (max-width:)
@media (min-width:700px) {}

@media (max-width:500px) {
    .flex-cont-md {
        margin-top: 2%;
    }
}

.custom-select label {
    display: inline-block;
    margin-bottom: .5rem;
}

.movie-select select {
    display: inline-block;
    width: auto;
}

.sidebar {
    display: block;
    z-index: 9999;
}