<app-loader [show]="showLoader"></app-loader>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <bs-navbar (valueChange)="toggleShow($event)" (searchChange)="searchMovies($event)" [showHamburger]="show"></bs-navbar>
    </div>

    <div class="col col-md-4">
        <side-nav [show]="show" (navChange)="toggleShow($event)" (movieListChange)="fetchMovieList($event,false,true)" [genreName]="genreName" [genreList]="genreList"></side-nav>
    </div>
    <div class="col">
        <div class="flex-col">
            <div class="filter_options">
                <div class="movie-select">
                    <label class="label_page" for="page">Show
                        <select #limit="ngModel" id="pageSize" name="pageSize" [(ngModel)]="pageSize"  (change)="fetchPageSize(limit)" class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="5" selected>5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                            </select>
                        </label>
                </div>

            </div>
            <div class="flex-container" *ngFor="let movie of filterMovieList | paginate: { itemsPerPage: pageSize, currentPage: p2, id: 'first' ,totalItems: (total_pages*pageSize)}">
                <movie [movie]="movie " [genreList]="genreList "></movie>
            </div>
        </div>
        <pagination-controls (pageChange)="fetchPage(p2 = $event)" id="first"></pagination-controls>
    </div>
</div>