.sidebar {
    display: block;
    z-index: 9999;
    position: sticky;
    top: 0;
    width: 57%;
    overflow-y: auto;
    max-height: 98vh;
}

@media (min-width:700px) {
    .sidebar {
        left: 0;
    }
}

.fa-arrow-left {
    cursor: pointer;
}