.container-position {
    margin-top: 100px;
}

.form-header {
    float: left;
    margin: 1% 0 2% 25%;
}

.sign-form {
    margin: 0 15%;
}

.form-position {
    margin: 10%;
}

label {
    font-weight: 600;
}

.form-body .card {
    width: 83%;
}

.sign-btn-group {
    margin-left: 19%;
    margin-bottom: 2%;
}

.block {
    width: 100%;
}
